* {
  margin:0;
  padding:0;
}

body {
  background-color: #c9ccd5;
  font-family: "Monsterrat";
}

@font-face {
  font-family: "Monsterrat";
  src: url(Montserrat-Regular.ttf) format("truetype");
}

.container {
  height:100vh;
  display: grid;
  grid-template: minmax(140px,15%) 1fr/minmax(200px, 15%) minmax(600px, 65%) minmax(250px, 20%);
}

.header {
  background-color: #849561;
  grid-column: 2/4;
  grid-row: 1/2;
  color: white;
  box-shadow: 3px 3px #d6ddca;
}

.dashboard {
  background-color: #3b445b;
  color:white;
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 3em  repeat(2, 300px);
  grid-gap: 2em;
}

.projects {
  grid-column: 2/3;
  grid-row:2/3;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 50%));
  grid-template-rows: 22.67px repeat(3, auto);
  grid-gap: 40px;
  padding: 30px 20px 0 20px;
  margin-right: 20px;
  margin-top:10px;
  text-align: left;
}

.sidebar {
  grid-column: 3/4;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 40px;
  margin: 40px 20px 0 0;
}

.trending {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.announcements, .trending {
  background-color: #c6b4ce;
  box-shadow: 3px 3px #ede8f0;
  font-size: 12px;
  border-radius:8px;
  padding: 10px 20px 10px 20px;
}

.projects > h3 {
  grid-column: 1/3;
  grid-row:1/2;
}

.proj {
  border-radius:8px;
  background-color: #93b5c6;
  box-shadow: 3px 3px #E1E5F6;
  display: grid;
  grid-template-rows: auto;
}

.proj > p {
  padding: 0px 30px 0 20px;
}

.proj > h4 {
  padding: 20px 0 0 20px;
}

.personal {
  display: grid;
  grid-template-columns: 65% repeat(3, minmax(0px, 10%));
  padding-left:10px;
}

.searchbar {
  display: grid;
  grid-template-columns: 30px 70% 40px 40px auto;
  width: auto;
  padding: 20px 0 20px 10px;
  align-items: center;
}

.greeting {
  display: grid;
  grid-template: 1em 2em/10% 40%;
  grid-gap:10px;
  padding-left: 20px;
}

.title {
  grid-row:1/2;
  padding-top: 20px;
  font-size: 1.3em;
}

.dash1 {
  grid-row:2/3;
}

.dash2 {
  grid-row:3/4;
}

.option, .title {
  display: flex;
}

img.owl {
  grid-column:1/2;
  grid-row:1/3;
}

.greeting > p {
  grid-column: 2/3;
  grid-row: 1/2;
}

.greeting > h2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.option > span, .title > span {
  padding: 0 20px 20px 20px;
}

.searchbar > p {
  padding-left: 10px;
}

.handle-icons {
  height: 35px;
  width: 35px;
}

.icons_p {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 5px 10px 0;
}

input {
  border: 1px solid white;
  border-radius:8px;
  width: 60%;
  height: 2em;
}

input:hover {
  border: 1px solid #566140;
}

input:focus {
  outline: none;
  border: 2px solid #566140;
}

button {
  background-color: #6e5773;
  color:white;
  border-radius:8px;
  border:none;
  width:80px;
  height:40px;
  padding: 8px 8px 8px 8px;
  box-shadow: 2px 2px #AAACB4;
  margin: 5px 5px 5px 5px;
}

.owl {
  height:auto;
  width:50px;
}

.owl2 {
  width:35px;
  height:35px;
}

.handle-name {
  font-weight: bold;
  font-size: 1.2em;
}

a {
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}

.borderBtm {
  border-bottom: 1px dotted gray;
}

.announcements > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

h5 {
  font-size: 14px;
}
